* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Container Section */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 1.5em;

}

/* Heading text */

.heading {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff4c4c;
    text-transform: uppercase;
    font-size: 1.5em;

}

/* Character name */

.name {
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #63666a;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;

}

/* card section */

.card {
    height: 55%;
    width: 25%;
}

.card img {
    width: 100%;
    height: 100%;
}

/* generate button */

.btn {
    padding: 0.5em 0.8em;
    border: 1px solid #ff4c4c;
    border-radius: 2px;
    background: #ff4c4c;
    color: #fff;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Media Queries */

@media (max-width: 990px) {
    .card {
        height: 50%;
        width: 45%;
    }
}

@media (max-width: 760px) {
    .card {
        height: 60%;
        width: 45%;
    }
}

@media (max-width: 426px) {
    .card {
        height: 50%;
        width: 60%;
    }

    .heading,
    .name {
        font-size: 1em;
    }
}

@media (max-width: 321px) {
    .card {
        height: 45%;
        width: 70%;
    }

    .heading {
        font-size: 0.7em;
    }
}